@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins&display=swap");

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #DEB360;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    font-family: "Poppins", sans-serif;
    @apply text-darkooo;
}

.active-link {
    padding: 0.8rem 10px;
      background-color: #f97316;
      color: #200000;
      font-weight: 700;
      border-bottom: none;
      border-radius: 10px;
}


.product {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "main"
}

.product .sidebar {
    grid-area: sidebar;
    display: none;
}

.product .main-content {
    grid-area: main;
}

@media screen and (min-width: 768px) {
    .product {
        grid-template-columns: 190px auto;
        grid-template-areas:
            "sidebar main"
    }

    .product .sidebar {
        display: block;
    }
}
